<div ng-controller="AppController">
<div class="container">
  <h2>Service Table<table></table></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Price</th>
        <th class="text-center">Do it</th>
      </tr>
    </thead>
      <tr ng-repeat = "service in services">
        <td>{{service.name}}</td>
        <td>{{service.price | currency}}</td>
        <td><button class ="btn btn-danger"ng-click="addService(service.id)">Add</button>
        </td>
      </tr>
  </table>
</div>
	<p>Please click Add only 1 time for 1 item. </p>
<form>	
	<h1>Service Form</h1>
	<ul>
		<li ng-repeat="key in list" ng-click="toggleActive(key)" ng-class="{active:key.active}">
			{{key.name}} <span>{{key.price | currency}}</span>	
		</li>
	</ul>
	<div class="total">
		Total: <span>{{total() | currency}}</span>
	</div>

</form>
</div>
