/** http://getbootstrap.com/getting-started/#support-ie10-width*/

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  padding-top: 70px;
  padding-bottom: 20px;
}
.navbar {
  margin-bottom: 20px;
}
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
#name{
    font-size: 25px;
}
/*nav{
    height: 60px;
}
#menu{
    margin-top: 5px;
}*/
/*ul > li:hover{
    color: white;
    margin-top: -3px;
    margin-bottom: 20px;
}
#exampleModalLabel{
    font-size: 30px;
}*/
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
    
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
#bb{
    color: red;
}
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
#name{
    font-size: 25px;
}
/*nav{
    height: 60px;
}
#menu{
    margin-top: 5px;
}*/
/*ul > li:hover{
    color: white;
    margin-top: -3px;
    margin-bottom: 20px;
}
#exampleModalLabel{
    font-size: 30px;
}*/
#headtable{
    background-color: ;
}